extends layout
block content
	.encabezado
		h1 Pagina de #{title}

	section.container
		div.item.logo
		div.item
			h1
				a(href='/')=title

		article.item
			if (data.length < 1)
				p.error no hay datos disponibles
			else
				table
					tr
						th ID
						th Titulo
						th Año
						th Puntuación
						th poster
						th Editar
						th Eliminar
					each movie in data
						tr
							td #{movie.movie_id}
							td #{movie.title}
							td #{movie.release_year}
							td #{movie.rating}
							td
								img.poster(src="#{movie.image}" alt="#{movie.title}")
							td editar
							td eliminar
		